.sidebar div{
  background-color: #45ada8;
  border-radius: 1.3em;
}

.sidebar div:hover{
  background-color: #43a7a2;
}

.function1{
  grid-row: 1;
  grid-column: 1;

}

.function2{
  grid-row: 2;
  grid-column: 1;
  background-color: #69d2cd;
}

.function3{
 grid-row: 3;
 grid-column: 1;
 background-color: #69d2cd;
}

.function4{
  grid-row: 4;
  grid-column: 1;
  background-color: #69d2cd;
}

.function5{
  grid-row: 5;
  grid-column: 1;
}
